@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
html,body{
  font-size: 16px;
  color: #343434;
  background: #fff;
}
ul,li {
  list-style: none;
}
i{
  font-style: normal;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  /*currentColor*/
  fill: #fff;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .container{
    max-width: 768px;
    margin: 0 auto;
  }
}
.btn{cursor: pointer;}


/*alert动效*/
.alert-enter-active, .alert-leave-active {
  transition: all .2s ease;
}
.alert-enter, .alert-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translate(0%, 100%);
}

/*搜索结果动效*/
.search-result-enter-active, .search-result-leave-active {
  transition: all .3s ease;
}
.search-result-enter, .search-result-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translate(0%, -100%);
}

/*router动效*/
.router-enter-active, .router-leave-active {
  transition: all .25s ease;
}
/*.router-enter, .router-leave-to !* .fade-leave-active below version 2.1.8 *! {*/
  /*transform: translate(100%, 0%);*/
/*}*/

.router-enter {
  opacity: 0;
  transform: translate(100%, 0%);
}
.router-enter-to {
  opacity: 1;
  transform: translate(0%, 0%);
}
.router-leave {
  opacity: 1;
  transform: translate(0%, 0%);
}
.router-leave-to {
  opacity: 0;
  transform: translate(-100%, 0%);
}
